body {
  font-family: 'Poppins', sans-serif; /* Легкий сучасний шрифт */
  background: linear-gradient(180deg, #fef9e7, #fbe9e7); /* Пляжний фон */
  color: #333; /* Темний текст */
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  color: #d35400; /* Жовтогарячий колір для заголовків */
}

a {
  text-decoration: none;
  color: #d35400; /* Жовтогарячий колір для посилань */
}

button {
  font-family: 'Poppins', sans-serif;
  background-color: #f39c12; /* Яскравий жовтогарячий */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e67e22; /* Темніший жовтогарячий при наведенні */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
